.submit {
    background: #224F76;
    border: #224F76;
    width: 10%;
    margin: {
        top:1rem;
        left:90%
    }
}
.ant-list-vertical .ant-list-item-content {
    color: white
}
a{
    color: white !important
}
.ant-pagination li {
    background: #03152B
}
.ant-pagination-item-link {
    background: #03152B !important
}
.ant-message span{
    color: black
}
.ant-list-vertical .ant-list-item-meta-title {
    color: white;
    font-weight:200
}
.ant-list-item-meta-description {
    color: white;
    font-size: 1.1rem
}